.App {
  background-color: #ededed;
  padding: 5px;
  height: 100vh;
}

/* CSS trong file YourComponent.css */
.table-container {
  max-height: 200px; /* Đặt chiều cao tối đa */
  overflow-y: auto; /* Thêm thanh cuộn dọc khi nội dung vượt quá chiều cao */
}

.table-container::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.table-container::-webkit-scrollbar-thumb {
  background-color: #6c757d;
  border-radius: 4px;
}

.table-container::-webkit-scrollbar-track {
  background-color: #f8f9fa;
}

/* Ẩn thanh cuộn khi nội dung không vượt quá chiều cao tối đa */
.table-container:not(:hover)::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.form-search {
  padding: 6px 4px 4px;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.form-search-children input {
  height: 25px;
  margin: 3px;
}
