.App {
  background-color: #ededed;
  padding: 5px;
  height: 100vh;
}

/* CSS trong file YourComponent.css */
.table-container {
  max-height: 200px; /* Đặt chiều cao tối đa */
  overflow-y: auto; /* Thêm thanh cuộn dọc khi nội dung vượt quá chiều cao */
  table-layout: fixed;
}

.table-container::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.table-container::-webkit-scrollbar-thumb {
  background-color: #6c757d;
  border-radius: 4px;
}

.table-container::-webkit-scrollbar-track {
  background-color: #f8f9fa;
}

.table-container:not(:hover)::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.form-search {
  padding: 6px 4px 4px;
  display: flex;
  /* flex-direction: row; */
  justify-content: end;
  flex-wrap: wrap;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.form-search-children input {
  height: 25px;
  margin: 3px;
  padding: 8px 4px;
  font-size: 0.9em;
  font-weight: 400;
  line-height: 24px;
  width: 12vh;
}

.form-search-children select {
  height: 25px;
  width: 55px;
  margin: 3px;
  font-size: 0.9em;
  font-weight: 400;
  line-height: 24px;
  border-radius: 5px;
  border: 1px solid #b1b0b0;
}

Button {
  height: 35px;
}

Table {
  margin-bottom: 0px !important;
}

.row_table_title th {
  background-color: #e6e6e6 !important;
}

.row_table_title th:not(:last-child) {
  border-right: 1px solid #d9d9d9;
}

.row_table_detail td:not(:last-child) {
  border-right: 1px solid #d9d9d9;
}

input {
  border-radius: 5px;
  border: 1px solid #b1b0b0;
}

.form-group-child {
  display: flex;
  flex-direction: column;
  margin-top: 2px;
}

.form-group-child input {
}
